@using PagedList.Mvc

@model  PagedList.IPagedList<HOSPITALMANAGEMENTSYSTEM.Models.Appointments>

@{ ViewBag.Title = "SAppointment";
                Layout = "~/Views/Admin/AdminMaster.cshtml"; }
@if (Model == null)
{
<h1 style="color: red; text-align: center; margin-top: 100px">@ViewBag.info</h1> }
            else
            {
<center>
    <div style=" background-color: rgba(128,128,128,0.2);margin-top:20PX ">
        <h1 class="text-dark">SCHEDULED APPOINTMENTS</h1>

    </div>
    <table style="width:100%;" class="table  table-hover">
        <thead>
            <tr>
                <th>
                    APPOINTMENT ID
                </th>
                <th>
                    PATIENT NAME
                </th>
                <th>
                    DISEASE
                </th>
                <th>
                    DOCTOR NAME
                </th>
                <th>
                    SPECIALIZATION
                </th>
                <th>
                    DATE
                </th>
                <th>
                    TIME
                </th>
                <th>
                    OPERATION
                </th>

            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.disease)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SplName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppTime)
                </td>
                <td>

                    @Html.ActionLink(" ", "EditAppointment", new { id = item.AppointmentId }, new { @class = "fas fa-edit", @style = "font-size:24px;margin-left:15px;color:black" })
                    @Html.ActionLink(" ", "DeleteAppointment", new { id = item.AppointmentId }, new { @class = "bi bi-trash-fill", @style = "font-size:24px;margin-left:35px;color:black" })

                </td>

            </tr>}
        </tbody>
    </table>
    @if (Model.HasNextPage || Model.HasPreviousPage)
    {
<div id="container" style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination" style="margin-left: 450px">
        @Html.PagedListPager(Model, page => Url.Action("SAppointment", new { page }))
    </div>
</div>}
</center>}





















